// Basic colors
$primary-color  : #FF7979;
$secondary-color: #000;

// Fonts style
$primary-font  : 'Roboto';
$secondary-font: 'Arial';
$font-color    : #333333;

// Buttons style
$btn-default-bg   : $primary-color;
$btn-padding      : 12px 21px;
$btn-font-size    : 12px;
$btn-font-weight  : 400;
$btn-color        : #ffffff;
$btn-border-radius: 4px;

// Header and navigation styles
$header-bg-color         : #FFFFFF;
$header-padding          : 13px 0;
$header-link-color       : rgba( #333333, 1 );
$header-hover-link-color : #333333;
$header-active-link-color: #333333;

// Basic transitions
$fast-transition: all .1s ease-in-out;

// Basic styles for pages
$content-padding-page: 70px 0 100px 0;
$inner-content-margin: 30px;



// ANIMATION vars
$fade-right-length:  10px;
$fade-left-length:   10px;
$fade-top-length:    10px;
$fade-bottom-length: 10px;


