$header-transition: 1s ease-in-out;

header {
  padding: $header-padding;
  background: $header-bg-color;
  position: sticky;
  z-index: 1030;
  width: 100%;
  background: #FFFFFF;
}
.nav__header {
  transform: translateY(-10px);
  opacity: 0;
  transition: $header-transition;
}
nav {
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
.header__logo {
  position: relative;
  z-index: 1040;
  transform: translateY(-10px);
  opacity: 0;
  transition: $header-transition;
}
.nav-row {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.nav__header {
  li {
    margin-left: 23px;
  }
  a {
    color: $header-link-color;
    transition: $fast-transition;
    &:hover {
      color: $header-hover-link-color;
      text-decoration: none;
    }
  }
}
.current-menu-item {
  a {
    color: $header-active-link-color;
  }
}
.header__btn {
  margin-left: 25px;
  width: 182px;
  transition: $header-transition;
  transform: translateX(30px);
  opacity: 0;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.cake {
  width: 22px;
  cursor: pointer;
}
.cake__line {
  position: relative;
  z-index: 1040;
  width: 22px;
  height: 2px;
  background: #000000;
  border-radius: 4px;
  margin: 5px 0;
  transition: all .6s ease-out;
  &:nth-child(2) {
    background: #FF7979;
  }
}
.active-menu {
  transition: all .6s ease-out;
  &:nth-child(2) {
    margin-left: 5px;
    transform: rotate(45deg) translateY(10px);
  }
  &:nth-child(3) {
    opacity: 0;
  }
  &:nth-child(4) {
    margin-left: 5px;
    transform: rotate(-45deg) translateY(-10px);
  }
}

.background-menu {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1030;
  transform: scale(1) translate(-50%, -50%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: .3s ease-in-out;
}
.active-menu-bg {
  display: block;
  background: $primary-color;
  transform: scale(30) translate(0, 0);
  border-radius: 0;
}