.homepage__screen {
  padding-top: 150px;
}
.homepage__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  color: $font-color;

  transition: $header-transition;
  opacity: 0;
  transform: translateY(-10px);
}
.additional-info {
  .info__description {
    opacity: 0;
    transform: translateX(-60px);
  }
  &:nth-child(2) {
    .info__description {
      transform: translateX(60px);
    }
  }
}

.homepage__description {
  font-size: 16px;
  line-height: 16px;
  color: $font-color;
  max-width: 507px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  transition: $header-transition;
  opacity: 0;
  transform: translate(70px, -80px);
}
.form-control {
  margin-bottom: 14px;
}
.prognoses-firms {
  padding: 112px 0 133px 0;
}
.prognoses__homepage-subtitle {
  font-size: 18px;
  line-height: 18px;
  margin-top: 35px;
 }

.bank__block {
  width: 262px;
  height: 218px;
  border-radius: 4px;
  margin-top: 109px;
}
.bank__thumbnail {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
  }
}
.bank__btn-risk {
  width: 262px;
  height: 51px;
  transform: translateX(-1px);
  background: #ffffff;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.danger-risk {
  border: 1px solid $primary-color;
  .bank__btn-risk {
    color: $primary-color;
  }
}
.warning-risk {
  border: 1px solid #FFA979;
  .bank__btn-risk {
    color: #FFA979;
  }
}
.form__get-request {
  margin-top: 45px;
}
.why-us-screen {
  margin-top: 10vh;
  background: #141414;
  padding-bottom: 90px;
}
.why-us__block--animated {
  transition: $header-transition;
  transform: translateY(30px);
  opacity: 0;
  &:nth-child(2) {
    transform: translateY(50px);
  }
  &:nth-child(3) {
    transform: translateY(70px);
  }
  &:nth-child(4) {
    transform: translateY(90px);
  }
}
.mock-up {
  max-width: 716px;
  width: 100%;
  height: auto;
  background-size: cover;

  transition: $header-transition;
  transform: scale(.8);
  opacity: 0;
}
.pen__scroller {
  position: absolute;
  top: 20px;
  right: -80px;
  animation: pen linear 1s forwards;
  z-index: -1;
}
.transformation-screen {
  transform: translateY(-20%);
}
@keyframes pen {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}


.block__icon {
  height: 89px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.block__title {
  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.block__description {
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.why-us__title {
  margin-top: -110px;
  margin-bottom: 80px;
}


.try-product {
  padding: 115px 0 145px 0;
  background: #F2F2F2;
}
.timer {
  padding: 6px 8px 6px 6px;
  max-width: 465px;
  width: 100%;
  height: 82px;
  background: #141414;
  border-radius: 8px;
}
.timer__block {
  width: 71px;
  height: 69px;
  background: $font-color;
  border-radius: 8px;
  font-family: Oswald;
  font-weight: 500;
  font-size: 32px;
  line-height: 47px;
  color: #F2F2F2 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer__label {
  font-family: Oswald;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F2F2F2;
  margin-bottom: 0;
}
.timer__description {
  font-size: 20px;
  line-height: 20px;
  color: #333333;
  max-width: 463px;
  margin: 23px 0 37px 0;
}

.input__form-try {
  max-width: 465px;
  width: 100%;
}
.try-form {
  margin-top: 40px;
}
.info__img {
  padding: 123px 0 123px 0;
}
.info-odd {
  padding: 123px 0 130px 0;
}


.questions__container {
  margin-top: 85px;
}
.block-question {
  margin-bottom: 96px;
}
.additional-info {
  min-height: 400px;
  padding: 80px 0;
}
.left-thumbnail-associated {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  overflow-x: hidden;
  width: 1000px;
  max-width: 100%;

  transform: translateX(-120px);
  opacity: 0;
}
.title-question {
  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 21px;

  transform: translateY(-40px);
  opacity: 0;
}
.content__question {
  font-size: 16px;
  line-height: 16px;

  transform: translateY(-30px);
  opacity: 0;
}
.homepage__subtitle {
  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: $font-color;

  transform: translateY(-30px);
  opacity: 0;
}
.questions__input {
  max-width: 465px;
  width: 100%;
  margin: 0 auto;
  height: 41px;
}
.questions__textarea {
  max-width: 465px;
  width: 100%;
  margin: 0 auto;
  height: 95px;
  padding-top: 14px;
}
.questions__button {
  max-width: 465px;
  width: 100%;
  margin: 0 auto;
  height: 41px;
}
.have-questions__form {
  margin-top: 40px;
}

.fade-right {
  transform: translateX(60px);
  opacity: 0;
}

.about-us {
  border-top: 4px solid #141414;
  margin-top: 122px;
  padding-top: 38px;
}
.about-us__subtitle {
  margin: 50px auto 0 auto;
  max-width: 751px;
  font-size: 16px;
  line-height: 16px;
}
.row__team {
  margin-top: 0;
  .col-xl-4 {
    &:first-child {
      .membership__block {
        margin-top: 123px;
      }
    }
  }
  .col-xl-4 {
    &:last-child {
      .membership__block {
        margin-top: 123px;
      }
    }
  }
}
.membership__thumbnail {
  max-width: 311px;
  height: 311px;
  border-radius: 50%;
}
.membership__title {
  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-top: 36px;
  margin-bottom: 0;
}
.membership__role {
  margin: 27px 0 26px 0;
  color: $primary-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.row__team {
  margin-top: 57px;
}
.membership__content {
  max-width: 319px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}