@media (max-width: 991px) {
  .homepage__title {
    font-size: 28px;
  }
  .homepage__description {
    font-size: 14px;
  }
  .why-us__block {
    margin-bottom: 37px;
  }
}
@media (max-width: 768px) {
  .homepage__screen {
    padding-top: 240px;
  }
}