@media (min-width: 1280px) {
  .transformation-screen {
    transform: translateY(-50%);
  }
}
@media (max-width: 1280px) {
  .why-us__title {
    margin-top: 0;
  }
  .footer__title {
    margin-top: 45px !important;
  }
}
@media (max-width: 1200px) {
  .left-thumbnail-associated {
    left: -130px;
    min-height: 415px;
  }
  .pen__scroller {
    top: -120px;
    right: 30px;
  }
  .row__team {
    .col-xl-4 {
      .membership__block {
        margin-top: 66px !important;
      }
    }
  }
}

@media (max-width: 991px) {
  .left-thumbnail-associated {
    display: none;
  }
  .parallax {
    display: none;
  }
  .prognoses-firms {
    padding: 42px 0 133px 0;
  }
  .try-product {
    padding: 115px 0 35px 0;
  }
  .homepage__title {
    font-size: 28px;
  }
  .homepage__description {
    font-size: 14px;
  }
  .why-us__block {
    margin-bottom: 37px;
  }
  .container__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-control {
    input, button, textarea {
      display: block;
      margin: 0 auto;
    }
  }
  footer {
    .form-control {
      input, button {
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {

  .why-us-screen {
    margin-top: 55vh;
  }
  .why-us__title {
    margin-top: -150px;
  }
  .homepage__screen {
    padding-top: 240px;
  }
  .why-us-screen  {
    margin-top: 55vh;
  }
  .try-product {
    margin-bottom: 0;
  }
  .questions__container {
    margin-top: 55px;
  }
  .pen__scroller {
    display: none;
  }
}

@media (max-width: 576px) {
  .why-us__title {
    margin-top: -50px;
  }
  .why-us-screen {
    margin-top: 30vh;
  }
  .left-thumbnail-associated {
    display: none;
  }
  .parallax {
    display: none;
  }
  .info__img {
    display: none;
  }
  .homepage__screen {
    padding-top: 100px;
  }
}