@media (min-width: 1280px) {
  .transformation-screen {
    transform: translateY(-50%);
  }
}
@media (max-width: 1280px) {
  .why-us__title {
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .pen__scroller {
    top: -120px;
    right: 30px;
  }
}

@media (max-width: 991px) {
  .homepage__title {
    font-size: 28px;
  }
  .homepage__description {
    font-size: 14px;
  }
  .why-us__block {
    margin-bottom: 37px;
  }
  .container__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-control {
    input, button, textarea {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .homepage__screen {
    padding-top: 240px;
  }
}

@media (max-width: 576px) {
  .left-thumbnail-associated {
    display: none;
  }
  .parallax {
    display: none;
  }
  .info__img {
    display: none;
  }
}