// bootstrap grid
@import "fonts";
@import './bootstrap/bootstrap.scss';
// end bootstrap grid

@import "vars";
@import "header";
@import "homepage";
@import "archive";
@import "category";
@import "footer";
@import "media";
@import "animation";


body {
  overflow-x: hidden;
  max-width: 100vw;
}
.page-container {
  padding: $content-padding-page;
}
.page__content {
  margin-top: $inner-content-margin;
}
.btn {
  display: inline-block;
  padding: $btn-padding;
  background: $btn-default-bg;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  border-radius: $btn-border-radius;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.btn-primary {
  background: $primary-color;
  color: $btn-color;
}
.full-screen {
  min-height: 100vh;
}
.primary-color {
  color: $primary-color;
}
.lighten-color {
  color: #ffffff;
}
.darken-block {
  background: #141414;
  color: #ffffff;
}
.font-regular {
  font-weight: 400;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
input {
  border: 1px solid #141414;
  box-sizing: border-box;
  border-radius: 8px;
  width: 261px;
  height: 41px;
  text-align: center;
  outline: none;
  transition: .1s ease-in-out;
  &:focus {
    border: 1px solid rgba( #141414, .7 );
  }
  &::placeholder {
    opacity: 1;
    color: $font-color;
  }
}
textarea {
  border: 1px solid #141414;
  box-sizing: border-box;
  border-radius: 8px;
  width: 261px;
  height: 82px;
  min-height: 70px;
  max-height: 160px;
  text-align: center;
  outline: none;
  transition: .1s ease-in-out;
  &:focus {
    border: 1px solid rgba( #141414, .7 );
  }
  &::placeholder {
    opacity: .7;
    color: $font-color;
  }
}
button {
  width: 261px;
  height: 41px;
  background: $primary-color;
  border-radius: 8px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// Is not valide fields
.is-not-valide {
  transition: all .3s ease-in-out;
  border: 1px solid red;
  position: relative;
  &::placeholder {
    color: red;
  }
  &:focus {
    border: 1px solid red;
  }
}
.bounce {
  animation: bounce .3s ease-in-out forwards;
}
@keyframes bounce {
  from {
    left: 0;
  }
  25% {
    left: 2px;
  }
  50% {
    left: 0;
  }
  75% {
    left: -2px;
  }
  to {
    left: 0;
  }
}